// @import '~bootstrap/scss/bootstrap';

.save-project {
  display: flex;
  justify-content: end;
}

.save-project button {
  height: 40px;
  width: 100px;
}

.form-name {
  font-size: 0.8rem;
  color: grey;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.card {
  height: 530px;
  overflow: scroll;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: gray;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #035fb2;
  border-radius: 10px;
}

.warn-msg{
  font-size: 13px;
}

@media (max-width:"576px") {
  .save-project button {
    position: absolute;
    bottom: 20px;
  }
  .card{
    height: auto;
  }
}
